# 数据库连接配置
DATABASE_URL="postgres://postgres.iszldmeouktsybhbrgmm:K42qhzTpMGrpG6hG@aws-0-us-east-1.pooler.supabase.com:5432/postgres"

# google登录
GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="GOOGLE_CLIENT_SECRET"

# github登录
GITHUB_CLIENT_ID="GITHUB_CLIENT_ID"
GITHUB_CLIENT_SECRET="GITHUB_CLIENT_SECRET"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="webnav"